{% extends 'generator/base.html' %}

{% block content %}
<h1>Your Secure Password</h1>
<hr>
<div class="alert alert-{{ password_strength }}" role="alert">
    {{ password }}
    <span class="pass-strength badge badge-primary">{{ strength_alert }}</span>
</div>
<div class="container">
    <a href="{% url 'home' %}" class="btn btn-secondary button">Generate Another</a>
    <button class="btn btn-primary button" onclick="copyPassword()">Copy Password</button>
</div>
{% endblock %}

<script>
    function copyPassword() {
        var passwordText = document.querySelector('.alert').innerText;
        navigator.clipboard.writeText(passwordText).then(function() {
            alert("Password copied to clipboard!");
        }, function() {
            alert("Failed to copy password!");
        });
    }
</script>
